* {
  box-sizing: border-box;
}
:root {
/*font format*/
--ff
/*font weights*/
  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;

/*font sizes*/
/*BIG SCREEN*/
  --fs-s: 1.6rem;
  --fs-m: 2rem;
  --fs-l: 4rem;

/*SMALL SCREEN*/
  --fs-ss-s: 1.6rem;
  --fs--ss-m: 2.1rem;
  --fs-ss-l: 4.2rem;
/*colors*/
--clr-a: #0ECF78;
--clr-b: #0FD945;
--clr-c: #1AC217;
--clr-d: #59D90F;
--clr-e: #98CF0E;
--clr-bckgr: white;

/*************GRADIENTS*************/
/*GREEN*/
--gradient: linear-gradient(
  45deg,
  #0ECF78,
  #0FD945,
  #1AC217,
  #59D90F,
  #98CF0E
  );
/*ORANGE*/
--gradient-orange: linear-gradient(
  45deg,
  #FFEE00,
  #E8C200,
  #FFBF0D,
  #E89300,
  #FF8200
  );
/*GREY*/
--gradient-grey: linear-gradient(
  45deg,
  #B9BFB6,
  #7C8079,
  #F7FFF2,
  #3E403D,
  #DEE6DA
  );

/*spacers*/
--spacer: 1rem;
--spacer-md: calc(var(--spacer) * 2);
--spacer-lg: calc(var(--spacer) * 3);

/*shadows*/
--shadow: 0 0 1em rgba(0, 0, 0, 9.25);
--br: 5px;
}

html { font-size: 20px}
body { margin: 0; background-color: #F7FFF2; color: #2A2423; font-family: 'Lexend', sans-serif;
}

.navigationHeader{
  margin: 0;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1;
}
.nav {
  width: 100%;
  height: 50px;
/*  background-image: var(--gradient);*/
  margin: 0;
  background-image: var(--gradient);
  background-size: 300%;
  background-position: left;
}
.nav a {
  display: inline-block; /*propertiy added for the inline element a to act as block*/
  border-radius: 5px;
  width: 24%;
  height: inherit;
  padding: auto;
  font-size: var(--fs-m);
  text-align: center;
  color: inherit;
  transition: all 1s ease-out;


}
.nav a:hover {
  background-image: var(--gradient-orange);
  color: black;
  transition-delay: 0.75s;
  transition: all 0.75s ease-in;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
/*.welcomeMsg{
	width: 100%;
	height: 200px;
	justify-content: center;
	background-color: #DEE6DA;
	background-size: 300%;
  	background-position: left;
}
.welcomeMsg h2{
	font-size: var(--fs-m);
	font-weight: var(--fw-m);
}
.welcomeMsg div{
	font-size: var(--fs-s);
	font-weight: var(--fw-s);
	padding: 5%;
	text-align: center;
}*/
.main_image{
  margin: 0;
  padding-top: 50px;
  padding-left: 80px;
  width: 100%;
  height: 600px;
  background-image: url("../images/food4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_image_text {
	width: 400px;
	height: 400px;
	text-align: left;
	color: black;
	/*font-size: var(--fs-s);
	font-weight: var(--fw-s);
	text-align: justify;
  	text-justify: inter-character;*/
}
h1 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  background-image: var(--gradient);
  background-size: 300%;
  background-position: left;
  transition: background-position 2s;
  
}
h1:hover, h1:focus{
  background-position: right;
  color: #FFBF0D;
}

h2, h3 {
  text-align: center;
  font-weight: var(--fw-b);
  font-size: var(--fs-s);
}
.articles_image{
  background-image: url("../images/read1.jpg");
  opacity: 1;
  padding-top: 50px;
  padding-right: 80px;
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-timing-function: ease-in-out;
 
}
.articles_image:hover{
  opacity: 0.8;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}
.articles_image_text {
  	width: 600px;
	height: 400px;
	text-align: right;
	color: black;
	font-size: var(--fs-s);
	font-weight: var(--fw-s);
	float: right;
	text-align: justify;
  	text-justify: inter-character;
}
.articlesList{
	list-style: none;
	text-align: right;
}
.articlesList li{
	background-position: 100%;
}
.sectionOne h2{
  text-shadow: var(--shadow);
  margin: 0;
}

.sectionOne,.sectionTwo,.sectionThree{
  margin: 0;
}

.sectionOne{
  background-color: #F7FFF2;
  color: black;
  font-weight: var(--fw-m);
}

.sectionOne_image{
  background-image: url("../images/diet2.jpg");
  margin-bottom: 30px;
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sectionOneId li {
  color: black;
  display: block;
}
.sectionTwoDiv{
  background-image: radial-gradient(#04070e ,#111924 );
  background-color: #04070e;
  color: white;
}

.sectionTwo_image{
  background-image: url("../images/sleep.jpg");
  margin-bottom: 30px;
	width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionThreeDiv{
  background-image: linear-gradient(#32332A, #6D6F5B);
  color: white;
}
.sectionThree_image{
  background-image: url("../images/exercise.jpg");
  margin-bottom: 30px;
	width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sectionFourDiv{
  background-image: linear-gradient(#494748 , #552651 );
  color: white;
}
.sectionFourImage{
  background-image: url("../images/work.jpg");
  margin-bottom: 30px;
	width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
div {
}
article {
  padding: 5px 30px 5px 30px;
  text-align: justify;
  text-justify: inter-character;
}
.button {
  display: inline-block;
  background: var(--primary-clr);
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: var(--br);
  font-weight: var(--fw-b);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
}

.button--card {
  margin-top: var(--spacer);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.pricing__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacer-md);
  margin: 10px;
}

.card {
  border-radius: var(--br);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.card--important {
  --primary-clr: var(--accent-clr);
}

.card__title {
  background: var(--primary-clr);
  color: rgba(255,255,255,.7);
  margin: 0;
  padding: var(--spacer) 0;
  font-weight: var(--fw-m);
  letter-spacing: 2px;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
}

.card__price {
  color: var(--primary-clr);
  padding: 1em var(--spacer-lg);
  margin: 0;
  font-size: 2em;
  font-weight: var(--fw-b);
}

.card__price span {
  font-size: .5em;
  font-weight: var(--fw-n);
}

.card__body {
  padding: 0 var(--spacer-lg) 2em;
}
.footerDiv{
  border: 200px;
  height: 400px;
  text-align: center;
  vertical-align: middle;
  background-image: var(--gradient);
  color: black;
}
footer{
  padding: 5%;
}
footer ul{
  padding: 5%;
}
/********************************************************************************************/
/*************************************CONTACT US*********************************************/
/********************************************************************************************/

.contactDiv{

}
.contactImage{
  background-image: url("../images/contact.jpg");
  margin-bottom: 30px;
	width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.second_image_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* On screens that are 992px or less*/
/*@media screen and (max-width: 992px) {
	.main_image{
  margin: 0;
  padding-top: 50px;
  padding-left: 80px;
  width: 100%;
  height: 600px;
  background-image: url("../images/fo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_image_text {
	width: 400px;
	height: 400px;
	text-align: left;
	color: black;
}*/
/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
.main_image{
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
  width: 100%;
  height: 600px;
  background-image: url("../images/food4small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_image_text {
	width: 400px;
	height: 400px;
	font-size: var(--fs-ss-s);
	text-align: left;
	color: black;
}
.articles_image{
  background-image: url("../images/read1small.jpg");
  opacity: 1;
  padding-top: 50px;
  padding-right: 20px;
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-timing-function: ease-in-out;
 
}
.articles_image:hover{
  opacity: 0.8;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}
.articles_image_text {
  	width: 600px;
	height: 400px;
	text-align: right;
	color: black;
	font-size: var(--fs-ss-s);
	font-weight: var(--fw-s);
	float: right;
	text-align: justify;
  	text-justify: inter-character;
}
.articlesList{
	list-style: none;
	text-align: right;
}
.articlesList li{
	background-position: 100%;
}
}

